
th{
    max-width: 300px;
    min-width: 150px;
    text-align: center;
    vertical-align: middle;
}
td {
    vertical-align: middle;
    text-align: center;
}

  .hid{
    height: 50px;
    overflow:hidden;
    -webkit-line-clamp: 3;
    width: 150px;
    -webkit-box-orient: vertical;
    overflow-y: auto;
}




