<h3 class="text-center">Tabla usuarios</h3>
<br>
<div class="container w-100">
  <div class="table-responsive">
    <table datatable [dtOptions]="dtOptions" class="row-border hover">
      <tfoot>
        <tr>
          <th><input type="text" placeholder="Buscar por ID" name="id" /></th>
          <th><input type="text" placeholder="Buscar por nombre" name="nombre" /></th>
          <th><input type="text" placeholder="Buscar por apellido 1" name="apellido1" /></th>
          <th><input type="text" placeholder="Buscar por email" name="email" /></th>
          <th><input type="text" placeholder="Buscar por email" name="email" /></th>
          <th><input type="text" placeholder="Buscar por telefono" name="telefono" /></th>
          <th><input type="text" placeholder="Buscar por genero" name="genero" /></th>
          <th><input type="text" placeholder="Buscar por fecha nacimiento" name="fecha_nacimiento" /></th>
          <th><input type="text" placeholder="Buscar por edad" name="edad" /></th>
          <th><input type="text" placeholder="Buscar por estado" name="estado" /></th>
          <th><input type="text" placeholder="Buscar por municipio" name="municipio" /></th>
          <th><input type="text" placeholder="Buscar por nivel estudios" name="nivel_estudios" /></th>
          <th><input type="text" placeholder="Buscar por carrera" name="carrera" /></th>
          <th><input type="text" placeholder="Buscar por ocupacion" name="ocupacion" /></th>
          <th><input type="text" placeholder="Buscar por nivel ingresos" name="nivel_ingresos" /></th>
          <th><input type="text" placeholder="Buscar por estado civil" name="estado_civil" /></th>
          <th><input type="text" placeholder="Buscar por tiene hijos" name="tiene_hijos" /></th>
          <th><input type="text" placeholder="Buscar por tiene hijos_menores18" name="tiene_hijos_menores18" /></th>
          <th><input type="text" placeholder="Buscar por numero automoviles" name="numero_automoviles" /></th>
          <th><input type="text" placeholder="Buscar por tiene internet" name="tiene_internet" /></th>
          <th><input type="text" placeholder="Buscar por numero personas hogar" name="numero_personas_hogar" /></th>
          <th><input type="text" placeholder="Buscar por numero personas trabajaron" name="numero_personas_trabajaron" /></th>
          <th><input type="text" placeholder="Buscar comentarios" name="Comentarios" /></th>
          <th><input type="text" style="visibility: hidden;" placeholder="" name="Acciones"/></th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<!--Agregar comentario modal-->

<div class="modal fade" id="agregarComentario" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar comentario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating">
          <textarea class="form-control" [(value)]="comentarios" style="min-height: 100px;"
           placeholder="Leave a comment here" id="comentario-box"></textarea>
          <label for="comentario-box">Comentarios</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="guardarComentario()">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>

