
<h3 class="text-center">Tabla usuarios</h3>
<br>
<div class="container w-75">
    <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" class="row-border hover">
            <tfoot>
                <tr>
                  <th><input type="text"  placeholder="Buscar nombre" name="nombre"/></th>
                  <th><input type="text"  placeholder="Buscar apellido 1" name="apellido1"/></th>
                  <th><input type="text"  placeholder="Buscar email" name="email"/></th>
                  <th><input type="text"  placeholder="Buscar email" name="email"/></th>
                  <th><input type="text"  placeholder="Buscar telefono" name="telefono"/></th>
                  <th><input type="text"  placeholder="Buscar genero" name="genero"/></th>
                  <th><input type="text"  placeholder="Buscar fecha nacimiento" name="fecha_nacimiento"/></th>
                  <th><input type="text"  placeholder="Buscar estado" name="estado"/></th>
                  <th><input type="text"  placeholder="Buscar municipio" name="municipio"/></th>
                  <th><input type="text"  placeholder="Buscar nivel estudios" name="nivel_estudios"/></th>
                  <th><input type="text"  placeholder="Buscar carrera" name="carrera"/></th>
                  <th><input type="text"  placeholder="Buscar ocupacion" name="ocupacion"/></th>
                  <th><input type="text"  placeholder="Buscar nivel ingresos" name="nivel_ingresos"/></th>
                  <th><input type="text"  placeholder="Buscar estado civil" name="estado_civil"/></th>
                  <th><input type="text"  placeholder="Buscar tiene hijos" name="tiene_hijos"/></th>
                  <th><input type="text"  placeholder="Buscar tiene hijos_menores18" name="tiene_hijos_menores18"/></th>
                  <th><input type="text"  placeholder="Buscar numero automoviles" name="numero_automoviles"/></th>
                  <th><input type="text"  placeholder="Buscar tiene internet" name="tiene_internet"/></th>
                  <th><input type="text"  placeholder="Buscar numero personas hogar" name="numero_personas_hogar"/></th>
                  <th><input type="text"  placeholder="Buscar numero personas trabajaron" name="numero_personas_trabajaron"/></th>
                </tr>   
              </tfoot>            
          </table>
    </div>
</div>


